/* GENERAL STYLES */
:root {
    /* COLORS */
    --purple: #af00ff;
    --purplel: #af00ff20;
    --yellow: #ffcc00;
    /* SIZINGS */
    --image-size: 80px;
}

body {
    font-family: 'Vollkorn', serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
    font-family: 'Kalam', cursive;
    margin: 5px;
    font-weight: 400;
}

h1 {
    font-weight: 700;
}

h3 {
    font-size: 1.6rem;
}

p {
    margin: 0;
}

.section-container {
    width: 100%;
    max-width: 1144px;
    padding: 20px;
}

/* NAVBAR SECTION */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--purple);
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
    margin: 0;
    position: fixed;
    z-index: 2;
}

.navbar .menu {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    padding: 0;
}

.navbar .menu a {
    color: white;
    font-weight: bold;
    font-family: 'Kalam', cursive;
    font-size: 300;
    margin: 0 20px;
    text-decoration: none;
}

.navbar .menu a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.navbar img {
    width: var(--image-size);
}

.mascot-greeting {
    position: absolute;
    top: 10px;
    right: 20px;
    width: var(--image-size);
    height: var(--image-size);
    box-sizing: border-box;
    padding: 6px;
    border-radius: 50%;
    background-color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    color: var(--purple);
    display: flex;
    justify-content: center;
    align-items: center;
}

#mascot {
    border-radius: 50%;
    z-index: 2;
    transition: opacity 0.2s;
}

#mascot:hover {
    opacity: 0;
    cursor: none;
}

/* ABOUT SECTION */
.about-section {
    width: 100%;
    max-width: 1144px;
    padding: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.two-column {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
}

.two-column > .left-column {
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 20px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.two-column > .right-column {
    width: 40%;
    height: 355px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-section .right-column .photo-grid {
    display: grid;
    grid-template-areas: 
    "red red red yellow"
    "red red red yellow"
    "red red red green";
    grid-gap: 15px;
    /* justify-content: center; */
    align-items: center;
    border: 5px solid var(--purple);
    border-radius: 30px;
    padding: 20px;
    background-color: var(--purple);
}

#red {
    grid-area: red;
    width: 100%;
    height: auto;
    border-radius: 20px;
    border: 2px solid white;
}

#yellow {
    grid-area: yellow;
    width: 100%;
    border-radius: 20px;
    border: 2px solid white;
}

#green {
    grid-area: green;
    width: 100%;
    border-radius: 20px;
    border: 2px solid white;
}

.tv-photo-frame {
    position: absolute;
    top: 100px;
    right: 20px;
}

.antenna {
    background-color: var(--purple);
    width: 100px;
    height: 7px;
    margin: 3px 0;
    border-radius: 20px;
    position: absolute;
    z-index: -2;
}

.tv-photo-frame .left {
    transform: rotate(40deg);
    top: 85px;
    right: 510px;
}

.tv-photo-frame .right {
    transform: rotate(-40deg);
    top: 85px;
    right: 350px;
}

/* PAST EVENTS SECTION */
.past-events-section::before {
    content: "";
    width: 100%;
    height: 425%;
    background-color: var(--purplel);
    position: absolute;
    top: 455px;
    left: 0;
    z-index: -2;
    transform: skewY(-5deg);
}

.past-events-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.past-events-section .event-container-1 {
    width: 100%;
    display: grid;
    grid-template-areas: 
    "general-photo general-photo density-activity"
    "general-photo general-photo momentum-activity"
    "turbulance-activity vr-activity bridges-activity";
    grid-gap: 20px;
    padding: 30px;
    background-color: var(--yellow);
    border-radius: 20px;
}

.past-events-section .event-container-1 img {
    object-fit: cover;
    width: 100%;
    height: 90%;
    border-radius: 20px;
    border: 2px solid white;
}

.past-events-section p {
    text-align: center;
}

#event-name {
    padding: 15px;
    font-size: 1.2rem;
    font-weight: 600;
}

.general-photo {
    grid-area: general-photo;
    
}

.density-activity {
    grid-area: density-activity;
}

.momentum-activity {
    grid-area: momentum-activity;
}

.turbulance-activity {
    grid-area: turbulance-activity;
}

.vr-activity {
    grid-area: vr-activity;
}

.bridges-activity {
    grid-area: bridges-activity;
}

.past-events-section .event-container-2 {
    width: 100%;
    display: grid;
    grid-template-areas: 
    "name name name"
    "charades taxonomy tension";
    grid-gap: 20px;
    padding: 30px;
    background-color: var(--yellow);
    border-radius: 20px;
}

.past-events-section .event-container-2 #event-name {
    grid-area: name;
    padding: 0;
}

.charades {
    grid-area: charades;
}

.taxonomy {
    grid-area: taxonomy;
}

.surfacetension {
    grid-area: tension;
}

.past-events-section .event-container-2 img {
    object-fit: cover;
    width: 100%;
    height: 90%;
    border-radius: 20px;
    border: 2px solid white;
}

.past-events-section .event-container-3 {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-areas: 
    "group circuit"
    "robot oobleck";
    grid-gap: 20px;
    padding: 30px;
    padding-bottom: 0;
    background-color: var(--yellow);
    border-radius: 20px;
}

.group-photo {
    grid-area: group;
}

.robot {
    grid-area: robot;
}

.circuits {
    grid-area: circuit;
}

.oobleck {
    grid-area: oobleck;
}

.past-events-section .event-container-3 img {
    object-fit: cover;
    width: 100%;
    height: 90%;
    border-radius: 20px;
    border: 2px solid white;
}

/* SPONSORS SECTION */
.sponsors-section {
    width: 100%;
    max-width: 1144px;
    display: flex;
    justify-self: center;
    align-items: start;
    padding-top: 20px;
}

.sponsors-section img {
    width: 100%;
    border-radius: 20px;
    border: 2px solid var(--purple);
}

.sponsors-section .two-column > .right-column {
    justify-content: start;
}

.sponsors-section p {
    text-align: center;
    padding: 5px;
}
/* CONTACTS SECTION */
.contacts-section { 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.contacts-section p {
    text-align: center;
}

#committee {
    padding: 20px 0;
    font-weight: 600;
    font-size: 1.2rem;
}

.contacts-section .executives {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contacts-section .executives img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

/* FOOTER */

